* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0e1538;
    font-family: consolas;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #0e1538;
}

.box {
    position: relative;
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
}

.box::before {
    content: "";
    position: absolute;
    width: 150px;
    height: 140%;
    background: linear-gradient(#ff0000, #00ec00);
    animation: anime 2s linear infinite;
}

.box::after {
    content: "";
    position: absolute;
    inset: 4px;
    background: #0e1538;
    border-radius: 16px;
}

@keyframes anime {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.box h2 {
    position: relative;
    color: #fff;
    font-size: 10em;
    z-index: 10;
}

.k {
    color: #ff0000;
    text-shadow: 0 0 120px rgba(255, 0, 0, 0.2), 0 0 200px rgba(255, 0, 0, 0.4), 0 0 300px rgba(255, 0, 0, 0.6);
}
.q {
    color: #00ec00;
    text-shadow: 0 0 120px rgba(0, 109, 0, 0.2), 0 0 200px rgba(0, 83, 0, 0.4), 0 0 300px rgba(0, 160, 0, 0.6);
}
